        :root {
            --sidebar-width: 200px;
            --header-height: 60px;
            --primary-color: #4e73df;
            --secondary-color: #f8f9fc;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8f9fc;
        }

        .dashboard{
            font-size: 2.8rem;
            color: var(--dark-blue);
            margin-bottom: 1.5rem;
            position: relative;
            display: flex;
            justify-content: center;
        }
        .dashboard::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 80px;
            height: 4px;
            background: linear-gradient(to right, var(--primary-blue), var(--dark-blue));
            border-radius: 2px;
        }

        /* Основное содержимое */
        .main-content {
            /*margin-left: var(--sidebar-width);*/
            padding: 20px;
            min-height: calc(100vh - var(--header-height));
        }

        /* Карточки статистики */

        .stat-cards{
            display: flex;
            justify-content: space-around;
        }

        .stat-card {
            border-radius: 0.35rem;
            border-left: 0.25rem solid var(--primary-color);
            transition: transform 0.3s;
            padding: 10px 100px;
        }

        .stat-card:hover {
            transform: translateY(-5px);
        }

        .charts{
            display: flex;
            justify-content: space-around;
        }
        .sales-chart{
            width: 750px;
            height: 500px;
        }
        .traf-chart{
            width: 490px;
        }
        /* Адаптивность */
        @media (max-width: 768px) {
            .sidebar {
                margin-left: -250px;
            }
            .sidebar.active {
                margin-left: 0;
            }
            .main-content {
                margin-left: 0;
            }
        }