{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}">
</head>
<body>
<div class="container">
        <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" id="username" class="input-field" placeholder="Email Address">
        <input type="password" name="password" id="password" class="input-field" placeholder="Password">
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>